* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
nav ul {
    margin-left: 30%;
}
nav{
    background-color: rgb(250, 252, 233);
}

nav ul li {
    display: inline-block;
    margin: 10px;
    margin-left: 5%;
    font-size: large;
    color: rgb(109, 107, 107);}

body
    {
background-image: url("unknown.png");
background-position: center;
background-size: cover;
font-family: sans-serif;
    }
 form{
     width: 90%;
     max-width: 600px;
     margin-left:10%;
     height:60%;
     margin-top: 50px;
     padding-top: 5%;

 }
 .submit
 {
     padding: 10px 0;
     margin-top:7% ;
     margin-left: 20%;
     color: black;
     outline: none;
     background: transparent;
     border: 1px solid black;
     cursor: pointer;
     width: 150px;
 }
 .delete{
     padding: 10px 0;
     margin-top:5% ;
     margin-left: 20%;
     color: black;
     outline: none;
     background: transparent;
     border: 1px solid black;
     cursor: pointer;
     width: 150px;
 }
 .delete :hover
 {
     background-color: gray;
 }
 body
{
background-image: url("unknown.png");
background-position: center;
background-size: cover;

}
.txt1
{
    margin-left:25%;
    margin-top: 3%;
    color: rgb(177, 177, 177);
}
.big
{
    margin-left: 37%;
    color: rgb(109, 107, 107);
    background-color: rgb(250, 252, 233);
    height: 350px;
    width:350px;
    border-radius: 15px; 
    margin-top: 4%;
}